$white: #ffffff;
$contrastes-white: #F3F4F5;
$contrastes-black: #333333;
$contrastes-blue: #00B0F2;
$contrastes-orange: #FFB07C;
$contrastes-green: #A0CF8A;
$contrastes-gray: #BDBDBD;

.color--primary {
  color: $contrastes-blue;
}
