$font-primary: 'Frank Ruhl Libre', 'Garamon', serif;
$font-secundary: 'Fira Sans',"Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;

$small: "screen and (min-width: 576px)";
$medium: "screen and (min-width: 768px)";
$large: "screen and (min-width: 992px)";
$extra-large: "screen and (min-width: 1200px)";


@mixin font_family($fontname, $filename) {
	@font-face {
	  font-family: $fontname;
	  font-weight: bold;
	  font-style: italic;
	  src: url('/assets/fonts/#{$filename}.eot');
	  src: url('/assets/fonts/#{$filename}.eot?#iefix') format('embedded-opentype'),
		  url('/assets/fonts/#{$filename}.woff2') format('woff2'),
		  url('/assets/fonts/#{$filename}.woff') format('woff'),
		  url('/assets/fonts/#{$filename}.ttf') format('truetype');
	}
}

@mixin font_style($size,$height) {
	.font-#{$size}-#{$height} {
		font-size: #{$size}px;
		line-height: #{$height}px;
	}
}

@mixin margin_block($size) {
	.margin-#{$size}px {
		display:block;
		background:transparent;
	  height:#{$size}px;
		padding:0px;
		margin:0px;
	}
}

@mixin add_transition($duration,$type) {
	transition: $duration $type;
	-moz-transition: $duration $type;
	-ms-transition: $duration $type;
	-o-transition: $duration $type;
	-webkit-transition: $duration $type;
}

@mixin style_selection($background,$color) {
	*::-moz-selection {
	   background: $background;
	   background-color: $background;
	   color: $color;
	}

	*::selection {
	   background: $background;
	   background-color: $background;
	   color: $color;
	}
}

%shadow {
	box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

%drop-shadow {
	position: relative;
	border-radius: 11px;
	transition: all 0.3s ease-in-out;
	overflow: hidden;
	border: 1px solid transparent;
	cursor: pointer;
}

%after-shadow {
	content: '';
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0 5px 15px rgba(0,0,0,0.3);
	transition: opacity 0.3s ease-in-out;
	@media#{$large}{
		opacity: 0;
	}
}
