@charset "UTF-8";

@import "../colors";
@import "../functions";

.master-container {
  max-width: 1280px;
}

.dashboard-header__container{
  padding: 1em;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 100;
}

.dashboard-navbar__container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: relative;
}

.dashboard-graph__container {
  width: 100%;
}

.navbar-center__container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  @media#{$large}{
    justify-content: space-between;
  }
}

$easing: cubic-bezier(.6, .05, .28, .91);

#hamburger__container {
	position: absolute;
	z-index: 5;
	left: 0;
  top: 6px;
	cursor: pointer;
	transition: left 500ms $easing;
  background-color: $contrastes-black;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
	div {
    width: 16px;
    height: 2px;
    margin-bottom: 4px;
    border-radius: 11px;
		background-color: $contrastes-white;
		transition: transform 500ms $easing, opacity 500ms, background-color 250ms;
    &:last-of-type {
      margin-bottom: 0px;
    }
	}
}

#hamburger__container.active {
	left: 210px;
	div {
		background-color: $contrastes-white;
	}
	#top {
		transform: translateY(6px) rotate(-135deg);
	}
	#middle {
		opacity: 0;
		transform: rotate(135deg);
	}
	#bottom {
		transform: translateY(-6px) rotate(-45deg);
	}
}

#aside__container {
	position: fixed;
	z-index: 4;
	overflow: auto;
	top: 0px;
	left: -275px;
	width: 275px;
	opacity: 0;
	padding: 1em 0;
	height: 100%;
	color: $contrastes-black;
	transition: all 350ms $easing;
  background-color: $white;
}

#aside__container.active {
	left: 0px;
	opacity: 1;
}

.brand__logo {
  position: relative;
  top: 0;
  left: 1em;
}

#aside__menu {
	position: relative;
	top: 15%;
	.aside__item {
		position: relative;
		cursor: pointer;
		padding: 0.5em 1em;
    margin-bottom: 1.2em;
		transition: all 250ms;
		&:hover {
			color: $contrastes-blue;
		}
    &:first-child {
      margin-bottom: 2em;
    }
	}
  .item__profile {
    a {
      display: flex;
      align-items: center;
      .profile__picture {
        display: inline-flex;
        margin-right: 0.5em;
        img {
          border-radius: 100%;
        }
      }
      span {
        display: inline-flex;
      }
    }
  }
}

.logout__button {
  position: absolute;
  bottom: 2em;
  left: 0;
  padding: 0.5em 1em;
}

#hamburger__container, #hamburger__container * {
	will-change: transform;
}

#aside__container {
	will-change: transform, opacity;
}

.search__container {
  display: flex;
  justify-content: flex-end;
  position: relative;
  @media#{$large}{
    display: block;
  }
  .dashboard-search {
    border-radius: 50px;
    background-color: $white;
    padding: 0.8em 3em .8em 3em;
    width: 0%;
    box-sizing: border-box;
    @media#{$large}{
      width: 120%;
    }
  }
  i {
    position: absolute;
    top: 50%;
    right: 3.3em;
    transform: translateY(-50%);
    @media#{$large}{
      right: auto;
      left: 1.2em;
    }
  }
}

.menu__container {
  display: none;
  @media#{$large}{
    display: block;
  }
  .navbar__menu {
    .menu__item {
      display: inline-block;
      &:not(:last-of-type) {
        margin-right: 1em;
      }
    }
  }
}

.profile__container {
  display: none;
  @media#{$large}{
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
  }
  .profile__content {
    display: inline-flex;
    align-items: center;
    .profile__picture {
      margin-left: 1em;
    }
  }
  .profile__picture {
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 50px;
  }
  .notification__container {
    margin-left: 3em;
  }
}

.table__container {
  background-color: $white;
  padding: 2em;
  box-sizing: border-box;
  margin-bottom: var(--space-normal);
  @media#{$large}{
    margin-bottom: auto;
  }
  .table__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    .table__title {
      width: 50%;
      text-align: left;
    }
    .table__more {
      width: 50%;
      text-align: right;
    }
  }
  .course__container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    .class__category {
      width: 100%;
    }
    .class__name {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
}

.profile__preview {
  display: flex;
  margin: var(--space-lg) 0;
  flex-wrap: wrap;
  @media#{$large}{
    flex-wrap: nowrap;
  }
  .profile__pìcture--big {
    width: 40%;
    margin: 0 auto var(--space-md);
    @media#{$large}{
      width: 15%;
      margin: auto;
    }
    img {
      border-radius: 100%;
    }
  }
  .profile-statistics__container {
    width: 100%;
    @media#{$large}{
      width: 75%;
    }
    .profile__name {
      width: 100%;
      display: flex;
      align-items: baseline;
      margin-bottom: var(--space-normal);
      @media#{$large}{
        margin-bottom: auto;
      }
      p {
        margin-left: 1.5em;
        color: $contrastes-gray;
      }
    }
    .profile__statistics {
      width: 100%;
      display: flex;
      align-items: baseline;
      flex-wrap: wrap;
      @media#{$large}{
        flex-wrap: nowrap;
      }
      .statistics__teoria, .statistics__practica, .statistics__exposicion {
        text-align: center;
        width: 50%;
        @media#{$large}{
          width: 15%;
        }
      }
      .statistics__teoria {
        color: $contrastes-blue
      }
      .statistics__practica {
        color: $contrastes-orange
      }
      .statistics__exposicion {
        color: $contrastes-green;
      }
    }
  }
}

.dashboard__table {
  margin-bottom: var(--space-giant)
}

.courses-carousel__contrainer--1, .courses-carousel__contrainer--2, .courses-carousel__contrainer--3 {
  position: relative;
  .course__carousel--1, .course__carousel--2, .course__carousel--3 {
    width: 95%;
  }
  .append-cell__container--1, .append-cell__container--2, .append-cell__container--3 {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    .button--append {
      height: 100%;
      width: 3em;
      background-color: white;
      border: none;
      border-radius: 6px;
    }
  }
}

.course__carousel--1, .course__carousel--2, .course__carousel--3 {
  margin: 0 0 var(--space-lg);
  .course__cell {
    width: 50%;
    padding-right: 1em;
    box-sizing: border-box;
    @media#{$large}{
      width: 25%;
    }
  }
}

.course__img {
  @extend %drop-shadow;
  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
  }
  &:hover {
    transform: scale(1.01);
  }
  &:hover::after {
    opacity: 1;
  }
  & * {
    cursor: pointer;
  }
}

.header__section {
  margin-top: var(--space-normal)
}

.related__notice {
  display: grid;
  margin-bottom: var(--space-giant);
  grid-template-columns: auto;
  grid-column-gap: 1em;
  grid-row-gap: 2em;
  grid-template-rows: 1fr repeat(4, 20em);
  grid-template-areas:
  "title"
  "N1"
  "N2"
  "N3"
  "N4";
  @media#{$large}{
    grid-template-rows: 1fr repeat(1, 20em);
    grid-template-areas:
    "title title title title"
    "N1 N2 N3 N4";
  }
}

.section__title {
  grid-area: title
}

.related-notice__item {
  &--1 {
    grid-area: N1;
  }
  &--2 {
    grid-area: N2;
  }
  &--3 {
    grid-area: N3;
  }
  &--4 {
    grid-area: N4;
  }
}

.notice__item--single {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 65% 35%;
  grid-template-areas: "thumbnail" "description";
  @extend %drop-shadow;
  .notice__description {
    padding: 1em 0.5em;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
  }
}

.notice__thumbnail {
  grid-area: thumbnail;
  border-radius: 11px;
  overflow: hidden;
}

.notice__description {
  grid-area: description;
  .notice__detail {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 0.6rem;
    line-height: 1;
    text-transform: uppercase;
  }
}

.notice__container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.saved__container {
  margin: var(--space-giant) 0;
}

.saved-card__container {
  height: 21em;
  background-color: $white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  display: flex;
  align-items: flex-end;
  padding: 2em 1em;
  position: relative;
  box-sizing: border-box;
  margin-bottom: var(--space-normal);
  @media#{$large}{
    margin-bottom: auto;
  }
  .bookmark {
    position: absolute;
    top: 2em;
    right: 2em;
  }
  .saved-card__detail {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.saved-card__content {
  color: $white;
}

.card--1  {
  background-image: url('../../img/sections/dashboard/course-highlight-1.jpg');
}

.card--2 {
  background-image: url('../../img/sections/dashboard/course-highlight-2.jpg');
}

.mis-desafios__container {
  margin-bottom: var(--space-giant)
}

.showcase-desafios__controllers {
  position: relative;
  .controller_container {
    margin-bottom: var(--space-md);
    position: relative;
    z-index: 2;
    width: 100%;
    text-align: center;
    @media#{$large}{
      width: 80%;
      text-align: left;
    }
    & * {
      cursor: pointer;
    }
    .controller__item {
      background-color: transparent;
      border: none;
      height: 3em;
      @media#{$large}{
        padding-left: var(--space-normal);
      }
    }
  }
  .js-controller-selected {
    .controller__item {
      color: $contrastes-orange;
      font-weight: 700;
    }
  }
  .js-is-selected {
    width: 80%;
    position: absolute;
    height: 3em;
    background-color: $white;
    border-radius: 30px;
    @extend %shadow;
    z-index: 1;
  }
}

.carousel-cell {
  margin-right: 10px;
  width: 60%;
  border-radius: 5px;
  @media#{$large}{
    width: 32%;
  }
}

.carousel-cell.is-selected {
  &:nth-child(3) {
    margin-right: 0;
  }
}

.statistics__container {
  .header__section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .section__title {
      text-align: center;
      margin-bottom: var(--space-sm);
      @media#{$large}{
        text-align: left;
        margin-right: 2em;
        margin-bottom: auto;
      }
    }
    .section__button {
      width: 100%;
      display: flex;
      justify-content: center;
      @media#{$large}{
        display: auto;
        display: block;
      }
    }
  }
}

.graph__container {
  height: 600px;
}

.graph__statistics {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: var(--space-normal);
  @media#{$large}{
    width: 40%;
    margin-bottom: var(--space-sm);
  }
}

.graph__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .filter__time {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media#{$large}{
      width: auto;
      display: block;
    }
  }
  .time__item {
    display: inline-block;
    margin-right: 2em;
  }
  .graph__reference {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @media#{$large}{
      display: block;
      width: auto;
    }
  }
}

.tags__content {
  margin-bottom: var(--space-lg);
  @media#{$large}{
    margin-bottom: auto;
  }
}

.photo__grid {
  display: grid;
  grid-template-columns: auto;
  grid-column-gap: 1em;
  grid-row-gap: 2em;
  grid-template-rows: repeat(16, 6em);
  grid-template-areas:
  "G1"
  "G1"
  "G1"
  "G2"
  "G2"
  "G3"
  "G3"
  "G3"
  "G4"
  "G4"
  "G5"
  "G5"
  "G6"
  "G6"
  "G7"
  "G7";
  @media#{$large}{
    grid-template-rows: repeat(9, 6em);
    grid-template-areas:
    "G1 G2"
    "G1 G2"
    "G1 G3"
    "G4 G3"
    "G4 G3"
    "G5 G6"
    "G5 G6"
    "G7 G6"
    "G7 ."
  }
}

.photos__container {
  margin-bottom: var(--space-lg)
}

.grid__item {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  .photo__description {
    padding: 2em 1em;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: flex-end;
    opacity: 0;
    transform: translateY(10px);
    color: $white;
    @include add_transition(.3s, ease-in-out);
  }
  &:hover {
    .photo__description {
      opacity: 1;
      transform: translateY(0)
    }
  }
}

.grid {
  &--1 {
    grid-area: G1;
    background-image: url('../../img/sections/dashboard/contrastes-photo-2.jpg');
  }
  &--2 {
    grid-area: G2;
    background-image: url('../../img/sections/dashboard/contrastes-photo-1.jpg');
  }
  &--3 {
    grid-area: G3;
    background-image: url('../../img/sections/dashboard/contrastes-photo-3.jpg');
  }
  &--4 {
    grid-area: G4;
    background-image: url('../../img/sections/dashboard/contrastes-photo-4.jpg');
  }
  &--5 {
    grid-area: G5;
    background-image: url('../../img/sections/dashboard/contrastes-photo-5.jpg');
  }
  &--6 {
    grid-area: G6;
    background-image: url('../../img/sections/dashboard/contrastes-photo-6.jpg');
  }
  &--7 {
    grid-area: G7;
    background-image: url('../../img/sections/dashboard/contrastes-photo-7.jpg');
  }
}

.setting__controllers {
  position: relative;
  .controller_container {
    margin-bottom: var(--space-md);
    position: relative;
    z-index: 2;
    width: 80%;
    & * {
      cursor: pointer;
    }
    .controller__item {
      background-color: transparent;
      border: none;
      height: 3em;
      padding-left: var(--space-normal);
    }
  }
  .js-controller-selected {
    .controller__item {
      color: $contrastes-orange;
      font-weight: 700;
    }
  }
  .js-is-selected {
    width: 80%;
    position: absolute;
    height: 3em;
    background-color: $white;
    border-radius: 30px;
    @extend %shadow;
    z-index: 1;
  }
}

.setting__content{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .profile-picture__container {
    width: 100%;
    margin-bottom: var(--space-md);
    .profile__picture {
      display: flex;
      align-items: center;
    }
  }
  .notification__container {
    display: flex;
    flex-wrap: wrap;
    label {
      width: 100%;
    }
  }
  .notification__button {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: var(--space-lg);
  }
}

.setting-cell {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .input__container {
    width: 50%;
    padding-right: 1em;
    box-sizing: border-box;
    margin-bottom: var(--space-normal);
    &--full {
      width: 100%;
      margin-bottom: var(--space-normal);
    }
    &:nth-child(odd) {
      padding-right: 0;
    }
  }
  .input__item,.select__item {
    background-color: white;
    padding: .8em 1.5em;
    box-sizing: border-box;
    border-radius: 50px;
    color: $contrastes-black;
    margin-top: .5em;
    border: none;
    width: 100%;
  }

  .textarea__container {
    width: 100%;
    DISPLAY: flex;
    flex-wrap: wrap;
    padding-bottom: 5rem;
    textarea {
      width: 100%;
      border: none;
      border-bottom: 2px solid $contrastes-blue;
      background-color: transparent;
      min-height: 8rem;
      max-height: 9rem;
      min-width: 100%;
      max-width: 100%;
    }
  }

  .buttons__area {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: var(--space-giant);
    .disponibilidad__container {
      display: flex;
      flex-wrap: wrap;
      label {
        width: 100%;
      }
    }
  }

  .form__button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

.carousel-cell.is-selected {
  &:nth-child(3) {
    margin-right: 0;
  }
}

.switch-toggle__container {
  background-color: $contrastes-white;
  border-radius: 100px;
  display: inline-flex;
  overflow: hidden;
  position: relative;
  margin-right: var(--space-normal);
  margin-bottom: var(--space-sm);
  &:last-of-type {
    margin-right: 0;
  }
  .item__container {
    position: relative;
    overflow: hidden;
    border-radius: 5em;
    z-index: 1;
    .toggle__item {
      border: none;
      border-radius: 100px;
      background-color: transparent;
      position: relative;
      padding: 0.5em 2em;
      z-index: 2;
      &.js-active {
        background-color: $contrastes-blue;
      }
    }
  }
}

#js-news-state, #js-events-state, #js-likes-state, #js-comment-state, #js-download-state, #js-course-state, #js-suscription-state, #js-conjunto-state, #js-pago-state  {
  height: 100%;
  background-color: $contrastes-blue;
  position: absolute;
  top: 0;
  border-radius: 5em;
  .toggle__item {
    color: $white;
  }
}

.setting__card--suscripcion {
  .suscription-status__container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    @media#{$large}{
      flex-wrap: nowrap;
    }
  }
}

.account__linked {
  width: 100%;
  margin: var(--space-sm) 0 0;
  .account-linked__input {
    border-bottom: 2px solid $contrastes-blue;
    padding-bottom: 0.5em;
    margin: var(--space-sm) 0 var(--space-lg) ;
  }
}

.suscription__data {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .input__container:nth-child(odd) {
    padding-right: 1em;
  }
  .input__container:nth-child(even) {
    padding-right: 0;
  }
  .buttons__area {
    justify-content: flex-end;
  }
}

.security__container {
  width: 100%;
  .input__container {
    width: 100%;
  }
  .input__container:nth-child(odd) {
    padding-right: 0;
  }
  .input__container:nth-child(even) {
    padding-right: 0;
  }
  .buttons__area {
    justify-content: flex-end;
  }
}

.card__data {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .buttons__area {
    justify-content: flex-end;
  }
}

.factura__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.state-upload__container {
  background-color: $white;
  display: flex;
  border-radius: 50px;
  width: 100%;
  justify-content: space-between;
  .state__container {
    padding: 0.5em 1.2em;
    border-radius: 50px;
    .state__item {
      border: none;
      background-color: transparent;
      text-transform: uppercase;
    }
    &.js-state-active {
      background-color: $contrastes-blue;
      .state__item {
        color: white;
      }
    }
  }
}

.right-section {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
  .principal {
    width: 100%;
  }
  .button {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
}

.photo-upload__container {
  margin-bottom: var(--space-lg);
}

.photo-upload__data {
  .input__container {
    width: 100%;
    border-bottom: 2px solid $contrastes-blue;
    margin-bottom: var(--space-lg);
    padding-bottom: var(--space-xs);
  }
}

.exif__data {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  .input__container {
    width: 50%;
    padding-right: 1em;
    box-sizing: border-box;
    margin-bottom: var(--space-normal);
    &--full {
      width: 100%;
      margin-bottom: var(--space-normal);
    }
    &:nth-child(even) {
      padding-right: 0;
    }
  }
  .input__item,.select__item {
    background-color: white;
    padding: .8em 1.5em;
    box-sizing: border-box;
    border-radius: 50px;
    color: $contrastes-black;
    margin-top: .5em;
    border: none;
    width: 100%;
  }
  .location {
    margin-top: var(--space-md);
    width: 100%;
    display: flex;
  }
}

.desafios__data {
  .desafios__available {
    display: flex;
    flex-wrap: wrap;
  }
  .desafios-available__title {
    width: 100%;
  }
  .desafio-showcase__container {
    width: 50%;
    padding-right: 1em;
    box-sizing: border-box;
    margin-bottom: var(--space-normal);
    position: relative;
    cursor: pointer;
    img {
      border-radius: 11px;
    }
    &:nth-child(odd) {
      padding-right: 0;
    }
    .desafio-showcase {
      position: relative;
      .overlay {
        background-color: rgba($contrastes-black,.3);
        height: 100%;
        width: 100%;
        top: 0;
        position: absolute;
        left: 0;
        border-radius: 11px;
        opacity: 0;
        @include add_transition(.3s, ease-in-out);
        &.js-overlay-active {
          opacity: 1;
        }
        i {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
          color: $contrastes-green;
        }
      }
    }
    .desafio__title {
      margin-top: var(--space-xs);
    }
  }
}

.congratulation__container {
  .congratulation__content, .congratulation__preview {
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
  }
  .congratulation__preview {
    .profile__content {
      display: flex;
      width: 100%;
      align-items: center;
    }
    .profile__content, .photo__finish {
      margin-bottom: var(--space-normal);
    }
  }
  .header__section {
    display: block;
    h1 {
      width: 100%;
      margin-bottom: .1em;
    }

  }
}

.overlay-clase {
  background-color: rgba($contrastes-black, .3);
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  opacity: 0;
  @include add_transition(.3s, linear);
  &.is-active {
    opacity: 1;
  }
  .course-in__content {
    width: 36em;
    position: absolute;
    top: 6em;
    left: 6em;
    color: $white;
  }
  .play-button {
    border-radius: 100%;
    background-color: $contrastes-white;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}

.clase-video {
  background: url('https://dummyimage.com/1920x1080/6d6e6e/fff') center center no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
